body {
  margin: 0;
  padding: 0;
  background-color: #fffcf7;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #8666c2;
}

.star {
  width: 62px;
  position: relative;
}
