.connectBody {
    min-width: 1024px;
}

.bannerContainer {
    background-color: #7d558f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContainer img {
    width: 100%;
    filter: opacity(70%);
}

.bannerHeader {
    background-color: rgba(120, 67, 144, 0.7);
    width: 100%;
    min-width: 1024px;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
}

.bannerContainer h1 {
    font-family: 'Aboreto';
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 0.3em;
}

.container {
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: Aboreto;
    font-size: 45px;
    color: #8666C2;
    font-weight: 500;
    white-space: nowrap;

    /* add a border around text */
    -webkit-text-stroke: 2.5px #3D1E6B;
    paint-order: stroke fill;
}

.header a {
    text-decoration-color: #6f4faa;
}

.highlight:hover {
    text-shadow: 0px 0px 100px #7553b4;
    transition-duration: 250ms;
    transition-delay: 20ms;
}

.memberContent {
    width: 65%;
}

.memberContent p {
    font-family: Gotu;
    font-size: 28px;
    color: #3D1E6B;
}

.partnerContent {
    width: 80%;
    min-width: 1024px;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.partnerContent img {
    height: 10em;
}

.eventsStarTopLeft {
    bottom: 35px;
    left: 2px;
}

.eventsStarTopRight {
    bottom: 35px;
    right: 2px;
}

.linkArrow {
    height: 1.5em;
    position: relative;
    top: 25px;
    right: 65px;
}